@import '/src/assets/scss/colors';
@import '/src/assets/scss/help';

.SideAvatar {
	display: flex;
	flex: 0 0 330px;
	flex-direction: column;
}
.avatar {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px 15px 20px;

	@extend %block;

	transition: all 0.1s, transform 0.2s ease;
}
.avatar_img {
	width: 100%;
	height: 50%;
	border-radius: 5px;
	object-fit: cover;
	margin-bottom: 20px;
}
.avatar_desc {
	font-size: 2rem;
	text-align: center;
}
.avatar_anchor:first-child {
	margin-top: 20px;
}
.avatar_anchor {
	font-size: 1.7rem;
	text-decoration: underline;
	display: block;
	margin: 10px 0;

	&:hover {
		color: rgb(129, 197, 39);
	}
}

.qr {
	width: 100%;
}

@media (max-width: 1200px) {
	.SideAvatar {
		flex: 0 0 200px;
	}
}
@media (max-width: 1000px) {
	.SideAvatar {
		width: 300px;
	}
}
