.SideAvatar {
	display: flex;
	flex: 0 0 300px;
	flex-direction: column;
}
.avatar {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px 15px 20px;
	border-radius: 10px;
	box-shadow: 0 3px 5px rgba($color: #000000, $alpha: 0.12),
		0 3px 20px rgba($color: #000000, $alpha: 0.06);
	border: 1px solid rgba($color: #1a1a1a, $alpha: 0.1);

	transition: all 0.1s, transform 0.2s ease;
}
.avatar_img {
	width: 100%;
	height: 300px;
	border-radius: 5px;
	object-fit: cover;
	margin-bottom: 20px;
}
.avatar_desc {
	font-size: 2rem;
	text-align: center;
}
.avatar_anchor:first-child {
	margin-top: 20px;
}
.avatar_anchor {
	font-size: 1.7rem;
	text-decoration: underline;
	display: block;
	margin: 10px 0;

	&:hover {
		color: rgb(129, 197, 39);
	}
}
