@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;800;900&display=swap');

@import './colors';
@import './help';

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	font-size: 10px;
}
body {
	margin: 0;
	font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 1.8rem;
	color: #131313;

	overflow-y: scroll;
}
a {
	text-decoration: none;
}

p > a {
	color: inherit;
	font-size: inherit;
	text-decoration: inherit;
	font-family: inherit;
}

.wrapper {
	display: flex;
	min-height: 100vh;
	max-width: 1500px;
	gap: 25px;
	justify-content: space-between;
	// align-items: flex-start;
	margin: 0 auto;
	padding: 30px 18px;
}

.content {
	flex: 1 1 100%;
	padding: 25px 20px;
	border-radius: 10px;
	@extend %block;
}

@media (max-width: 1000px) {
	.wrapper {
		flex-direction: column;
		align-items: center;
		gap: 40px;
	}
}
