@import '/src/assets/scss/colors';
@import '/src/assets/scss/help';

.TasksList {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;

	.social {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 25px;
	}
}
.TaskBlock {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	text-align: center;
	flex: 0 0 25%;
	padding: 10px;

	@extend %block;

	border: 1px solid rgba($color: #1a1a1a, $alpha: 0.1);
	transition: all 0.1s, transform 0.2s ease;
	cursor: pointer;

	img {
		width: 85%;
		padding: 10px;
		margin-bottom: 7px;
		transition: all 0.1s, transform 0.2s ease;
	}
	p {
		font-size: 1.8rem;
		font-weight: bold;
		color: $text_second;
		word-break: break-all;
	}

	&:hover {
		transform: scale(1.02);
		box-shadow: 0 3px 7px rgba($color: #000000, $alpha: 0.08),
			0 3px 25px rgba($color: #000000, $alpha: 0.03);

		img {
			transform: scale(1.15);
		}
	}
}

.infoLink {
	flex: 0 0 25%;
	img {
		padding: 5px;
	}
	p {
		word-break: normal;
	}
}

@media (max-width: 700px) {
	.TaskBlock {
		flex: 0 0 30%;
		p {
			font-size: 1.6rem;
		}
	}
}
@media (max-width: 500px) {
	.TasksList .social {
		gap: 15px;
	}
	.TaskBlock {
		flex: 0 0 45%;
	}
	.infoLink {
		flex: 1 0 45%;
	}
}
